body{
    background-color: black;
}
.container{
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.policy{
    width: 50%;
    border: 1px solid black;
    

}
h1{
    display: flex;
    justify-content: center;
    font-size: 50px;
}
p{
    margin: 50px 50px;
}
ol{
    font-weight: bolder;
    margin: 100px 100px;
}
li a{
    font-size: 100px;
    text-decoration: none;
    color: #2596be;
}
.home{
    
    list-style: none;
}